Repository xspec/xspec, pull requests merged in 2018-06, with the labels that each got.

#175 Schema: Exclude x:* from any-content
  .travis.yml
  appveyor.yml
  src/schemas/xspec.rnc
  test/xspec-bat.cmd
  test/xspec.bats
Labels: enhancement, test

#199 Add xslt-version tests
  test/end-to-end/cases/expected/xspec-xslt2-result-norm.html
  test/end-to-end/cases/xspec-xslt2.xspec
  test/xspec-xslt1.xsl
  test/xspec-xslt1.xspec
Labels: test

#218 Add missing file for end-to-end tests
  test/end-to-end/cases/expected/xspec-xslt2-junit-norm.xml
Labels: hotfix

#221 Fix labels in test/xspec-xslt3.xspec
  test/xspec-xslt3.xspec
Labels: test

#222 Inspect the compiled stylesheet version
  test/end-to-end/cases/expected/xspec-xslt2-junit-norm.xml
  test/end-to-end/cases/expected/xspec-xslt2-result-norm.html
  test/xspec-xslt1.xspec
  test/xspec-xslt3.xspec
Labels: test
