Repository xspec/xspec, pull requests merged in 2018-10, with the labels that each got.

#251 Replace stat with test in xspec.bats
  test/xspec.bats
Labels: test

#252 Consolidate -j tests
  test/xspec-bat.cmd
  test/xspec.bats
Labels: test

#253 Consolidate default report file tests
  test/xspec-bat.cmd
  test/xspec.bats
Labels: test

#254 Consolidate default HTML report file tests
  test/xspec-bat.cmd
  test/xspec.bats
Labels: test

#255 Consolidate HTML report file inspection
  test/xspec-bat.cmd
  test/xspec.bats
Labels: test

#256 Adjust a Schematron XSLT version warning test
  test/xspec-bat.cmd
  test/xspec.bats
Labels: test

#257 Consolidate -s tests
  test/xspec-bat.cmd
  test/xspec.bats
Labels: test

#258 Consolidate path tests
  test/xspec-bat.cmd
  test/xspec.bats
Labels: test

#259 Relocate an XSLT catalog test
  test/xspec-bat.cmd
  test/xspec.bats
Labels: test

#260 Consolidate catalog tests
  test/xspec-bat.cmd
  test/xspec.bats
Labels: test

#261 Test HTML inline CSS using external XSLT
  test/html-css.xsl
  test/xspec-bat.cmd
  test/xspec.bats
Labels: test

#262 Test HTML charset meta tag using external XSLT
  test/html-charset.xsl
  test/xspec-bat.cmd
  test/xspec.bats
Labels: test

#265 Fix issue 202 (xspec.bat (Windows) fails when path contains ampersand)
  bin/xspec.bat
  test/xspec-bat.cmd
  test/xspec.bats
Labels: bug

#401 Correct misspellings of Jeni Tennison's name. Fixes issue #143
  find-examples.xml
  find-examples.xsl
  src/compiler/generate-common-tests.xsl
  src/compiler/generate-query-helper.xsl
  src/compiler/generate-query-tests.xsl
  src/compiler/generate-query-utils.xql
  src/compiler/generate-tests-helper.xsl
  src/compiler/generate-tests-utils.xsl
  src/compiler/generate-xspec-tests.xsl
  src/reporter/coverage-report.xsl
  src/reporter/format-utils.xsl
  src/reporter/format-xspec-report-folding.xsl
  src/reporter/format-xspec-report.xsl
  src/reporter/test-report.css
  src/schemas/find-examples.rnc
  test/Makefile
  test/end-to-end/cases/xspec-focus-1.xspec
  test/end-to-end/cases/xspec-function.xspec
  test/end-to-end/cases/xspec-import.xspec
  test/end-to-end/cases/xspec-imported.xspec
  test/end-to-end/cases/xspec-pending.xspec
  test/end-to-end/cases/xspec-rule.xspec
  test/generate-x-utils.xspec
  test/generate-xspec-tests.xspec
  test/xspec-focus-2.xspec
  test/xspec-tested.xql
  test/xspec-tested.xsl
  test/xspec-variable.xspec
Labels: bug, documentation

#402 Update for XSpec release v1.1.0
  pom.xml
Labels: enhancement

#406 Increase version to prepare for next release
  pom.xml
Labels: release

#266 Add Ant build support for XQuery
  build.xml
  src/ant/get-schematron-phase.xsl
  test/xspec-bat.cmd
  test/xspec.bats
Labels: enhancement
