Repository xspec/xspec, pull requests merged in 2018-08, with the labels that each got.

#237 Test Ant more closely
  test/xspec-bat.cmd
  test/xspec.bats
Labels: test

#224 Tail recursion in test:output-lines template (version-dependent)
  src/reporter/coverage-report.xsl
Labels: enhancement

#270 Remove x permission
  LICENSE
  editors/emacs/README
  editors/emacs/schemas.xml
  editors/oxygen/templates/xspec.xml
  graphics/3angle-down.gif
  graphics/3angle-right.gif
  src/reporter/format-xspec-report-folding.xsl
Labels: bug

#271 Fix typo in xspec.bat (formating)
  bin/xspec.bat
Labels: bug

#238 Add double quote in xspec-bat.cmd
  test/xspec-bat.cmd
Labels: test

#273 Fix URL in xspec-26.xspec
  test/xspec-26.xspec
Labels: bug, documentation

#274 Add comment to make-path.js
  src/ant/make-path.js
Labels: documentation

#275 Add comment to locate-schematron.xsl
  src/ant/locate-schematron.xsl
Labels: documentation

#276 Test with XML Calabash 1.1.21-97
  .travis.yml
  appveyor.yml
Labels: test

#239 Improve test log readability of Travis and AppVeyor
  test/xspec-bat.cmd
  test/xspec.bats
Labels: test

#298 Add appveyor-retry before choco install
  appveyor.yml
Labels: test

#241 Bats work dir
  test/xspec-bat.cmd
  test/xspec.bats
Labels: test

#242 Add missing XQuery tests to xspec-bat.cmd
  appveyor.yml
  test/xspec-bat.cmd
Labels: test

#243 Add comment to test
  test/xspec-bat.cmd
  test/xspec.bats
Labels: test

#244 Set ANT_VERSION in xspec-bat.cmd
  test/xspec-bat.cmd
Labels: test

#245 Enable xspec-bat.cmd to verify line count
  test/xspec-bat.cmd
Labels: test

#246 Tidy up tests
  test/xspec-bat.cmd
  test/xspec.bats
Labels: test

#247 Add compiled-file parameter to BaseX test
  test/xspec-bat.cmd
  test/xspec.bats
Labels: test
