Repository xspec/xspec, pull requests merged in 2019-09, with the labels that each got.

#614 release: increment xspec version for pom file
  pom.xml
Labels: release

#616 release: maven snapshot version for development
  pom.xml
Labels: release

#612 Update repository URL in src/harnesses/
  src/harnesses/basex/basex-server-xquery-harness.xproc
  src/harnesses/basex/basex-standalone-xquery-harness.xproc
  src/harnesses/exist/exist-xquery-harness.xproc
  src/harnesses/harness-lib.xpl
  src/harnesses/marklogic/ml-xquery-harness.xproc
  src/harnesses/saxon/saxon-xquery-harness.xproc
  src/harnesses/saxon/saxon-xslt-harness.xproc
  src/harnesses/zorba/zorba-xquery-harness.xproc
Labels: documentation

#589 Remove unnecessary static-base-uri()
  src/compiler/generate-query-tests.xsl
  src/compiler/generate-xspec-tests.xsl
  src/reporter/format-xspec-report-folding.xsl
  test/end-to-end/ant/base/worker/generate.xsl
Labels: enhancement

#587 Improve BaseX server test for Windows
  test/win-bats/collection.xml
Labels: test

#595 Test with mode="#all"
  test/end-to-end/cases/expected/stylesheet/mode-all-junit.xml
  test/end-to-end/cases/expected/stylesheet/mode-all-result.html
  test/end-to-end/cases/expected/stylesheet/mode-all-result.xml
  test/end-to-end/cases/mode-all.xsl
  test/end-to-end/cases/mode-all.xspec
Labels: test

#615 Test x:is-user-content() with x:variable
  test/xspec-utils_stylesheet.xspec
Labels: test

#524 Optimize CSS data URI
  graphics/README.md
  graphics/fail12.png
  graphics/pending12.png
  graphics/success12.png
  src/reporter/test-report.css
Labels: enhancement

#590 Delete test/end-to-end/cases/actual__/ before end-to-end test
  test/end-to-end/ant/base/build.xml
  test/end-to-end/ant/generate-expected/build.xml
  test/end-to-end/ant/run-e2e-tests/build.xml
Labels: test

#608 Use null device instead of tempfile in end-to-end test
  test/end-to-end/ant/base/worker/build-worker.xml
Labels: test

#626 Skip testing xspec-215.xspec on Saxon 9.8
  src/common/xspec-utils.xsl
  test/ant/worker/generate.xsl
  test/xspec-215.xspec
  test/xspec-utils_stylesheet.xspec
Labels: test

#623 Define default XSLT version as a variable
  src/compiler/generate-common-tests.xsl
  src/compiler/generate-xspec-tests.xsl
Labels: enhancement

#628 Use full path for Windows find command in test
  appveyor.yml
  test/win-bats/collection.xml
  test/win-bats/stub.cmd
Labels: test

#627 Test with Ant 1.10 and revert #608
  .travis.yml
  appveyor.yml
  test/end-to-end/ant/base/worker/build-worker.xml
Labels: test

#629 Externalize commands in appveyor.yml
  appveyor.yml
  test/ci/choco-install.cmd
  test/ci/compile-java.cmd
  test/ci/install-deps.cmd
  test/ci/last-git-status.cmd
  test/ci/print-env.cmd
Labels: test

#624 Obsolete x:space
  src/compiler/generate-xspec-tests.xsl
  test/obsolete-space/test.xspec
  test/schema/build.xml
  test/win-bats/collection.xml
  test/xspec.bats
Labels: enhancement

#597 Write decimal point in /xsl:stylesheet/attribute(version)
  src/common/xspec-utils.xsl
  src/compiler/generate-tests-utils.xsl
  src/compiler/generate-xspec-tests.xsl
  test/end-to-end/cases/expected/stylesheet/xspec-xslt2-junit.xml
  test/end-to-end/cases/expected/stylesheet/xspec-xslt2-result.html
  test/end-to-end/cases/expected/stylesheet/xspec-xslt2-result.xml
  test/xspec-utils_stylesheet.xspec
  test/xspec-xslt1.xspec
  test/xspec-xslt3.xspec
Labels: enhancement

#630 ci: add Azure Pipelines
  README.md
  azure-pipelines.yml
Labels: test

#625 Deprecation warning for Saxon 9.7 or less
  .travis.yml
  appveyor.yml
  azure-pipelines.yml
  src/common/xspec-utils.xsl
  src/compiler/generate-common-tests.xsl
  test/ant/build.xml
  test/ant/caps/v3-0.xsl
  test/ant/worker/generate.xsl
  test/end-to-end/cases/mode-all.xspec
  test/win-bats/collection.xml
  test/xspec-no-prefix_stylesheet.xspec
  test/xspec-utils_stylesheet.xspec
  test/xspec.bats
Labels: enhancement

#613 Fix XProc for Saxon XQuery
  src/compiler/generate-query-tests.xsl
  src/harnesses/saxon/saxon-xquery-harness.xproc
  test/win-bats/collection.xml
  test/xspec-72.xsl
  test/xspec-72.xspec
  test/xspec.bats
Labels: bug, documentation

#632 ci: disable non-mainstream jobs in appveyor.yml
  appveyor.yml
Labels: test

#634 Add eol=crlf to .gitattributes for *.bat and *.cmd
  .gitattributes
  bin/xspec.bat
  test/ci/choco-install.cmd
  test/ci/compile-java.cmd
  test/ci/install-deps.cmd
  test/ci/last-git-status.cmd
  test/ci/print-env.cmd
  test/end-to-end/generate-expected.cmd
  test/end-to-end/run-e2e-tests.cmd
  test/run-bats.cmd
  test/run-xspec-tests-ant.cmd
  test/run-xspec-tests.cmd
  test/win-bats/stub.cmd
Labels: enhancement

#635 Fix typo in test/generate-xspec-tests.xspec
  test/generate-xspec-tests.xspec
Labels: test

#611 Fix issue 610 (Fails to load XML in folder containing single quote (apostrophe U+0027))
  src/compiler/generate-query-helper.xsl
  src/compiler/generate-query-tests.xsl
  src/compiler/generate-tests-helper.xsl
  src/schematron/generate-step3-wrapper.xsl
  test/win-bats/collection.xml
  test/xspec.bats
Labels: bug

#636 ci: compile java recursively
  .travis.yml
  appveyor.yml
  azure-pipelines.yml
  test/ci/build_java.xml
  test/ci/compile-java.cmd
Labels: test

#641 Test for issue 638 (xsl:output in the stylesheet being tested)
  test/ant/worker/generate.xsl
  test/xspec-638.xsl
  test/xspec-638.xspec
Labels: test

#637 ci: test with Java 11
  .travis.yml
  azure-pipelines.yml
  test/ci/azure-pipelines_template.yml
  test/ci/compile-java.sh
  test/ci/switch-java.cmd
Labels: test

#642 Test for issue 633 (warning on Ant)
  test/win-bats/collection.xml
  test/win-bats/stub.cmd
  test/xspec.bats
Labels: test

#645 ci: remove dependency on 7-zip
  appveyor.yml
  test/ci/install-deps.cmd
Labels: test

#648 ci: externalize test dependency installation in .travis.yml
  .travis.yml
  test/ci/install-deps.sh
Labels: test

#647 ci: print environment
  .travis.yml
  test/ci/print-env.cmd
  test/ci/print-env.sh
Labels: test

#646 ci: remove dependency on Chocolatey
  test/ci/install-deps.cmd
Labels: test

#649 ci: set Saxon and XML Resolver path in test/ci/install-deps.*
  .travis.yml
  appveyor.yml
  test/ci/azure-pipelines_template.yml
  test/ci/install-deps.cmd
  test/ci/install-deps.sh
Labels: test

#650 ci: test with Ant 1.10.7
  .travis.yml
  appveyor.yml
  test/ci/azure-pipelines_template.yml
Labels: test

#651 ci: test with XML Calabash 1.1.*-98
  .travis.yml
  appveyor.yml
  test/ci/azure-pipelines_template.yml
Labels: test

#599 try-catch support: x:scenario/attribute(catch)
  src/common/xspec-utils.xsl
  src/compiler/generate-common-tests.xsl
  src/compiler/generate-query-tests.xsl
  src/compiler/generate-xspec-tests.xsl
  src/schemas/xspec.rnc
  test/ant/caps/v3-0.xsl
  test/catch/compiler-error.xspec
  test/catch/error-in-context-avt-for-template-call.xspec
  test/catch/error-in-context-param-for-matching-template.xspec
  test/catch/error-in-function-call-param.xspec
  test/catch/error-in-template-call-param.xspec
  test/catch/error-in-variable.xspec
  test/catch/no-by-default.xspec
  test/catch/static-error-in-compiled-test.xspec
  test/catch/test.xsl
  test/end-to-end/cases/xspec-shared-like.xspec
  test/run-bats.cmd
  test/run-bats.sh
  test/win-bats/collection.xml
  test/xspec-catch.xsl
  test/xspec-catch.xspec
  test/xspec-catch_stylesheet.xspec
  test/xspec-utils_stylesheet.xspec
  test/xspec.bats
Labels: enhancement

#652 ci: update installation skip message
  test/ci/install-deps.cmd
  test/ci/install-deps.sh
Labels: test

#653 ci: align install-deps.sh with .cmd
  test/ci/install-deps.sh
Labels: test

#654 ci: test on macOS
  azure-pipelines.yml
  test/ci/azure-pipelines_windows.yml
  test/ci/print-env.sh
  test/xspec.bats
Labels: test

#656 ci: run tests in parallel
  test/ant/build.xml
  test/ant/worker/build-worker_util.xml
  test/ant/worker/generate.xsl
Labels: test

#618 Simplify x:unshare-scenarios mode templates
  src/compiler/generate-common-tests.xsl
Labels: enhancement

#659 Use $this in x:generate-tests mode template in generate-query-tests.xsl
  src/compiler/generate-query-tests.xsl
Labels: enhancement
