Repository xspec/xspec, pull requests merged in 2021-11, with the labels that each got.

#1558 test: test with Bats v1.5.0
  .github/workflows/lint.yml
  .github/workflows/pr-lint.yml
  .github/workflows/test.yml
  azure-pipelines.yml
  package-lock.json
  package.json
  test/bats-helper.bash
  test/ci/npm-ci.sh
  test/ci/run-commitlint.sh
  test/ci/run-prettier.sh
  test/ci/set-env.sh
  test/ci/uninstall-bats-macos.sh
  test/rnc.bats
  test/run-bats.sh
  test/win-bats/collection.xml
  test/win-bats/stub.cmd
  test/xspec.bats
Labels: test

#1567 test: exclude /node_modules/ from shellcheck
  test/ci/run-shellcheck.sh
Labels: test

#1568 fix(cli): properly detect XSPEC_HOME
  bin/xspec.sh
  test/win-bats/collection.xml
  test/xspec.bats
Labels: bug

#1571 docs(xslt): update under-the-hood/Compilation.md to reflect PR 1329
  tutorial/under-the-hood/Compilation.md
Labels: documentation
