Repository xspec/xspec, pull requests merged in 2021-08, with the labels that each got.

#1515 test: remove overused `run` from Bats
  test/xspec.bats
Labels: test

#1521 test(schematron): test bad attribute(location)
  test/schematron/bad-location/atomic/expect-assert.xspec
  test/schematron/bad-location/atomic/expect-not-assert.xspec
  test/schematron/bad-location/atomic/expect-not-report.xspec
  test/schematron/bad-location/atomic/expect-report.xspec
  test/schematron/bad-location/context.xml
  test/schematron/bad-location/empty/expect-assert.xspec
  test/schematron/bad-location/empty/expect-not-assert.xspec
  test/schematron/bad-location/empty/expect-not-report.xspec
  test/schematron/bad-location/empty/expect-report.xspec
  test/schematron/bad-location/multiple/expect-assert.xspec
  test/schematron/bad-location/multiple/expect-not-assert.xspec
  test/schematron/bad-location/multiple/expect-not-report.xspec
  test/schematron/bad-location/multiple/expect-report.xspec
  test/schematron/bad-location/test.sch
  test/win-bats/collection.xml
  test/xspec.bats
Labels: test

#1506 fix(schematron): handle location attribute not pointing to one node
  src/schematron/schut-to-xspec.xsl
  src/schematron/select-node.xsl
  test/issue-396.xspec
  test/schematron-027.xspec
  test/schematron/bad-location/atomic/expect-not-assert.xspec
  test/schematron/bad-location/atomic/expect-not-report.xspec
  test/schematron/bad-location/atomic/expect-report.xspec
  test/schematron/bad-location/issue-396.xspec
  test/schematron/schematron-027.sch
  test/schematron/schut-to-xspec-012-out.xspec
  test/win-bats/collection.xml
  test/xspec.bats
Labels: enhancement

#1523 build(oxygen): add-on v2.2.2
  editors/oxygen/add-on/description/latest.xhtml
  oxygen-addon.xml
  xspec.xpr
Labels: release

#1525 ci(deps): bump BaseX from 9.5.2 to 9.6
  test/ci/env/global.env
Labels: test

#1526 test(report): static $NORMALIZE-HTML-DATETIME
  test/end-to-end/processor/html/_normalizer.xsl
Labels: test

#1529 ci(deps): bump BaseX from 9.6 to 9.6.1
  test/ci/env/global.env
Labels: test
