Repository xspec/xspec, pull requests merged in 2021-03, with the labels that each got.

#1356 test(xslt): verify stylesheet components in testing issue 1029
  test/issue-1029.xsl
  test/issue-1029.xspec
Labels: test

#1355 test(xslt): verify stylesheet line ending in testing issue 793
  test/end-to-end/cases/expected/stylesheet/issue-793-cr-junit.xml
  test/end-to-end/cases/expected/stylesheet/issue-793-cr-result.html
  test/end-to-end/cases/expected/stylesheet/issue-793-cr-result.xml
  test/end-to-end/cases/expected/stylesheet/issue-793-crlf-junit.xml
  test/end-to-end/cases/expected/stylesheet/issue-793-crlf-result.html
  test/end-to-end/cases/expected/stylesheet/issue-793-crlf-result.xml
  test/end-to-end/cases/expected/stylesheet/issue-793-lf-junit.xml
  test/end-to-end/cases/expected/stylesheet/issue-793-lf-result.html
  test/end-to-end/cases/expected/stylesheet/issue-793-lf-result.xml
  test/end-to-end/cases/issue-793-cr.xspec
  test/end-to-end/cases/issue-793-crlf.xspec
  test/end-to-end/cases/issue-793-lf.xspec
Labels: test

#1361 docs: update links in README.md
  README.md
Labels: documentation

#1359 refactor: add xsl:context-item to xsl:template[@name]
  src/compiler/xquery/report/wrap-node-constructors-and-undeclare-default-ns.xsl
  src/compiler/xslt/compile/compile-scenario.xsl
  src/compiler/xslt/report/wrap-node-constructors-and-undeclare-default-ns.xsl
  test/caps/hof.xsl
  test/caps/java-reflexive-ext-fn.xsl
  test/catalog/02/importing-stylesheet.xsl
  test/catalog/02/stylesheets/stylesheet.xsl
  test/end-to-end/cases/global-override.xsl
  test/end-to-end/cases/mode-all.xsl
  test/helper/override.xsl
  test/issue-1029.xsl
  test/issue-538.xsl
  test/issue-59_use-case-1.xsl
  test/issue-746.xsl
  test/mirror.xsl
  test/nested-template-call.xsl
  test/prefix-conflict.xsl
  test/square.xsl
  test/x-context.xsl
  test/xsl-result-document.xsl
  test/xsl-result-document.xspec
  test/xslt-package/arith/use-1.xsl
  test/xslt3.xsl
  tutorial/global-context-item/stylesheet_original.xsl
  tutorial/global-context-item/stylesheet_testable.xsl
Labels: enhancement

#1360 test(schematron): use expression var in generate-node-selector.xspec
  test/generate-node-selector.xspec
Labels: test

#1364 feat: check stylesheet, query, schematron attributes
  src/common/parse-report.xsl
  src/compiler/base/combine/mode/check-combined-doc.xsl
  src/compiler/base/combine/mode/generate-id.xsl
  src/compiler/base/combine/mode/unshare-scenarios.xsl
  src/compiler/base/compile/compile-child-scenarios-or-expects.xsl
  src/compiler/base/compile/compile-expect.xsl
  src/compiler/base/compile/compile-scenario.xsl
  src/compiler/base/initial-check/perform-initial-check.xsl
  src/compiler/base/invoke-compiled/invoke-compiled-child-scenarios-or-expects.xsl
  src/compiler/base/resolve-import/gather/gather-specs.xsl
  src/compiler/base/util/compiler-misc-utils.xsl
  src/compiler/xquery/compile/compile-scenario.xsl
  src/compiler/xquery/declare-variable/declare-variable.xsl
  src/compiler/xquery/initial-check/perform-initial-check.xsl
  src/compiler/xquery/main.xsl
  src/compiler/xslt/compile/compile-scenario.xsl
  src/compiler/xslt/initial-check/perform-initial-check.xsl
  src/compiler/xslt/main.xsl
  src/reporter/coverage-report.xsl
  src/reporter/format-utils.xsl
  src/schematron/generate-step3-wrapper.xsl
  src/schematron/schut-to-xslt.xsl
  test/ant/worker/generate.xsl
  test/ci/run-codespell.cmd
  test/ci/run-codespell.sh
  test/end-to-end/ant/generate-expected/worker/generate.xsl
  test/end-to-end/processor/base/compare.xsl
  test/reserved-vardecl-name/param/context-param_lexical-qname.xspec
  test/reserved-vardecl-name/param/description-param_uqname.xspec
  test/reserved-vardecl-name/param/function-param_lexical-qname.xspec
  test/reserved-vardecl-name/param/template-call-param_uqname.xspec
  test/reserved-vardecl-name/variable/global-variable_lexical-qname.xspec
  test/reserved-vardecl-name/variable/local-variable_uqname.xspec
  test/variable-overriding-param/global-variable.xspec
  test/variable-overriding-param/local-variable/description-param.xspec
  test/win-bats/collection.xml
  test/xspec.bats
Labels: enhancement

#1365 test(xslt): add attribute(as) to xsl:function
  test/issue-746.xsl
Labels: test

#1370 test(schematron): adapt some tests to SchXslt
  .prettierignore
  lib/README.md
  src/compiler/base/combine/mode/check-combined-doc.xsl
  src/reporter/format-xspec-report.xsl
  src/schematron/generate-step3-wrapper.xsl
  src/schematron/schut-to-xspec.xsl
  test/do-nothing.sch
  test/end-to-end/cases/expected/schematron/issue-693-result.html
  test/end-to-end/cases/expected/schematron/schematron-023-result.html
  test/end-to-end/cases/expected/schematron/xml-1-1_schematron-result.html
  test/end-to-end/processor/html/_normalizer.xsl
  test/end-to-end/processor/xml/_normalizer.xsl
  test/external_global-context.sch
  test/external_global-context.xsl
  test/external_global-context_stylesheet.xspec
  test/generate-step3-wrapper_custom.xspec
  test/generate-step3-wrapper_default.xspec
  test/issue-396_schxslt.xspec
  test/issue-396_skeleton.xspec
  test/no-prefix_schematron.xspec
  test/schematron-01.xspec
  test/schematron-012.xspec
  test/schematron-014.xspec
  test/schematron-015.xspec
  test/schematron-016.xspec
  test/schematron-024.xspec
  test/schematron-025.xspec
  test/schematron-026.xspec
  test/schematron-param-001.xspec
  test/schematron-xslt.xspec
  test/schematron/schematron-01.sch
  test/schematron/schematron-01.xml
  test/schematron/schematron-014-01.xml
  test/schematron/schematron-014.sch
  test/schematron/schematron-015.sch
  test/schematron/schematron-016.sch
  test/schematron/schematron-019.sch
  test/schematron/schematron-024.sch
  test/schematron/schematron-025.sch
  test/schematron/schematron-026.sch
  test/schematron/schematron-param-001-step3.xsl
  test/schematron/schematron-xslt.xspec
  test/schematron/schematron-xslt_compile.xsl
  test/schematron/schematron-xslt_expand.xsl
  test/schematron/schematron-xslt_include.xsl
  test/schematron/schematron.properties
  test/schematron/schut-to-xspec-012-out.xspec
  test/schematron/schut-to-xspec-012.sch
  test/schematron/schut-to-xspec_helper.xsl
  test/schematron/schxslt/base-uri.xsl
  test/schematron/schxslt/compile-for-svrl.xsl
  test/schematron/schxslt/expand.xsl
  test/schematron/schxslt/include.xsl
  test/schut-to-xspec.xspec
  test/select-node.xspec
  test/some-failures/schematron.sch
  test/tvt.sch
  test/win-bats/collection.xml
  test/xspec-sch.xspec
  test/xspec.bats
Labels: test

#1372 feat(xslt): reinstate $x:stylesheet-uri
  src/compiler/xslt/main.xsl
  test/end-to-end/cases/expected/stylesheet/issue-793-cr-result.xml
  test/end-to-end/cases/expected/stylesheet/issue-793-crlf-result.xml
  test/end-to-end/cases/expected/stylesheet/issue-793-lf-result.xml
  test/end-to-end/cases/issue-793-lf.xspec
  tutorial/under-the-hood/Compilation.md
Labels: enhancement

#1374 test: replace xsl:apply-imports with xsl:next-match
  test/ci/test-maven-jar/coverage-report.xsl
  test/custom-coverage-report.xsl
  test/end-to-end/ant/generate-expected/worker/generate.xsl
  test/format-xspec-report-messaging.xsl
Labels: test

#1371 feat(schematron): skip step 1 and/or step 2 if `#none`
  bin/xspec.bat
  bin/xspec.sh
  build.xml
  src/schematron/generate-step3-wrapper.xsl
  src/schematron/locate-schematron-uri.xsl
  src/schematron/schut-to-xslt.xsl
  test/generate-step3-wrapper_custom.xspec
  test/generate-step3-wrapper_default.xspec
  test/issue-396_schxslt.xspec
  test/schematron-xslt_skip-1-2.xspec
  test/schematron-xslt_skip-1.xspec
  test/schematron-xslt_skip-2.xspec
  test/schematron/schematron-xslt_compile.xsl
  test/schematron/schematron-xslt_expand-compile.xsl
  test/schematron/schematron-xslt_expand.xsl
  test/schematron/schematron-xslt_include-expand-compile.xsl
  test/schematron/schematron-xslt_include-expand.xsl
  test/schematron/schematron-xslt_include.xsl
  test/schematron/schxslt/base-uri.xsl
  test/schematron/schxslt/compile-for-svrl.xsl
  test/schematron/schxslt/expand.xsl
  test/schematron/schxslt/include.xsl
  test/schematron/schxslt_pipeline-for-svrl.xsl
  test/schut-to-xslt.xspec
  test/win-bats/collection.xml
  test/xspec.bats
Labels: enhancement

#1378 test(schematron): safer attribute(location) in xspec-sch.xspec
  test/xspec-sch.xspec
Labels: test

#1379 test(schematron): adapt external_scenario-param.sch to SchXslt
  test/external_scenario-param.sch
  test/external_scenario-param.sch.included.xsl
  test/external_scenario-param_schematron.xspec
Labels: test

#1383 build(oxygen): add-on v2.1.2
  editors/oxygen/add-on/description/latest.xhtml
  oxygen-addon.xml
  xspec.xpr
Labels: release

#1384 test(schematron): remove SchXslt test
  test/issue-396.xspec
  test/issue-396_schxslt.xspec
  test/schematron/schxslt_pipeline-for-svrl.xsl
Labels: test

#1385 test(schematron): backport e2e test normalizers from schxslt branch
  test/end-to-end/processor/html/_normalizer.xsl
  test/end-to-end/processor/xml/_normalizer.xsl
Labels: test

#1386 test(schematron): skip schematron-020.xspec on SchXslt 1.6.2 or earlier
  test/ant/worker/generate.xsl
  test/schematron-020.xspec
Labels: test

#1388 feat(schematron): ensure attribute(xml:base) in Step 3
  src/schematron/schut-to-xslt.xsl
  src/schematron/step3.xsl
  test/schematron/schematron-xslt_expand-compile.xsl
  test/schematron/schematron-xslt_include-expand-compile.xsl
  test/schut-to-xslt.xspec
Labels: enhancement

#1393 docs(schema): clarify why focus attribute is text
  src/schemas/xspec.rnc
Labels: documentation

#1390 fix(report): fix JUnit and HTML reports for empty scenario
  src/reporter/format-xspec-report.xsl
  src/reporter/junit-report.xsl
  test/end-to-end/cases/empty-scenario.xspec
  test/end-to-end/cases/expected/query/empty-scenario-junit.xml
  test/end-to-end/cases/expected/query/empty-scenario-result.html
  test/end-to-end/cases/expected/query/empty-scenario-result.xml
  test/end-to-end/cases/expected/query/issue-446_1-result.html
  test/end-to-end/cases/expected/schematron/empty-scenario-junit.xml
  test/end-to-end/cases/expected/schematron/empty-scenario-result.html
  test/end-to-end/cases/expected/schematron/empty-scenario-result.xml
  test/end-to-end/cases/expected/stylesheet/empty-scenario-junit.xml
  test/end-to-end/cases/expected/stylesheet/empty-scenario-result.html
  test/end-to-end/cases/expected/stylesheet/empty-scenario-result.xml
  test/end-to-end/cases/expected/stylesheet/issue-446_1-result.html
Labels: bug

#1391 test(schematron): adapt to SchXslt 967c828
  test/do-nothing.sch
  test/schematron/schematron-019.sch
Labels: test

#1395 feat(report): report pending scenarios inside pending top-level scenario
  src/reporter/format-xspec-report-folding.xsl
  src/reporter/format-xspec-report.xsl
  test/end-to-end/cases/expected/query/focus-vs-pending-attribute-result.html
  test/end-to-end/cases/expected/query/focus-vs-pending-element-result.html
  test/end-to-end/cases/expected/query/focus-vs-pending-result.html
  test/end-to-end/cases/expected/query/focus-without-pending-result.html
  test/end-to-end/cases/expected/query/issue-446_1-result.html
  test/end-to-end/cases/expected/query/issue-446_2-result.html
  test/end-to-end/cases/expected/query/issue-446_3-result.html
  test/end-to-end/cases/expected/query/issue-447_1-result.html
  test/end-to-end/cases/expected/query/issue-447_2-result.html
  test/end-to-end/cases/expected/query/issue-447_3-result.html
  test/end-to-end/cases/expected/query/pending-result.html
  test/end-to-end/cases/expected/schematron/focus-vs-pending-attribute-result.html
  test/end-to-end/cases/expected/schematron/focus-vs-pending-element-result.html
  test/end-to-end/cases/expected/stylesheet/focus-vs-pending-attribute-result.html
  test/end-to-end/cases/expected/stylesheet/focus-vs-pending-element-result.html
  test/end-to-end/cases/expected/stylesheet/focus-vs-pending-result.html
  test/end-to-end/cases/expected/stylesheet/focus-without-pending-result.html
  test/end-to-end/cases/expected/stylesheet/format-xspec-report-folding-result.html
  test/end-to-end/cases/expected/stylesheet/issue-446_1-result.html
  test/end-to-end/cases/expected/stylesheet/issue-446_2-result.html
  test/end-to-end/cases/expected/stylesheet/issue-446_3-result.html
  test/end-to-end/cases/expected/stylesheet/issue-447_1-result.html
  test/end-to-end/cases/expected/stylesheet/issue-447_2-result.html
  test/end-to-end/cases/expected/stylesheet/issue-447_3-result.html
  test/end-to-end/cases/expected/stylesheet/pending-result.html
Labels: enhancement

#1400 test(xslt): message for pending
  test/end-to-end/cases/expected/query/pending-junit.xml
  test/end-to-end/cases/expected/query/pending-result.html
  test/end-to-end/cases/expected/query/pending-result.xml
  test/end-to-end/cases/expected/stylesheet/pending-junit.xml
  test/end-to-end/cases/expected/stylesheet/pending-result.html
  test/end-to-end/cases/expected/stylesheet/pending-result.xml
  test/end-to-end/cases/pending.xspec
  test/win-bats/collection.xml
  test/xspec.bats
Labels: test

#1417 test(schematron): remove SchXslt 1.6.2 test workaround
  test/ant/worker/generate.xsl
  test/schematron-020.xspec
Labels: test

#1402 test: simplify function.xspec
  test/end-to-end/cases/expected/query/function-junit.xml
  test/end-to-end/cases/expected/query/function-result.html
  test/end-to-end/cases/expected/query/function-result.xml
  test/end-to-end/cases/expected/stylesheet/external_function-junit.xml
  test/end-to-end/cases/expected/stylesheet/external_function-result.html
  test/end-to-end/cases/expected/stylesheet/external_function-result.xml
  test/end-to-end/cases/expected/stylesheet/function-junit.xml
  test/end-to-end/cases/expected/stylesheet/function-result.html
  test/end-to-end/cases/expected/stylesheet/function-result.xml
  test/end-to-end/cases/external_function.xspec
  test/end-to-end/cases/function.xspec
Labels: test

#1415 test: unfocused param and variable
  test/external_unfocused-param.xspec
  test/unfocused-param.xspec
  test/unfocused-variable.xspec
Labels: test

#1413 fix(report): recognize doctypes in stylesheets
  src/reporter/coverage-report.xsl
  test/end-to-end/cases/expected/stylesheet/issue-1411_entity-coverage.html
  test/end-to-end/cases/expected/stylesheet/issue-1411_entity-junit.xml
  test/end-to-end/cases/expected/stylesheet/issue-1411_entity-result.html
  test/end-to-end/cases/expected/stylesheet/issue-1411_entity-result.xml
  test/end-to-end/cases/expected/stylesheet/issue-1411_no-entity-coverage.html
  test/end-to-end/cases/expected/stylesheet/issue-1411_no-entity-junit.xml
  test/end-to-end/cases/expected/stylesheet/issue-1411_no-entity-result.html
  test/end-to-end/cases/expected/stylesheet/issue-1411_no-entity-result.xml
  test/end-to-end/cases/issue-1411_entity.xsl
  test/end-to-end/cases/issue-1411_entity.xspec
  test/end-to-end/cases/issue-1411_no-entity.xsl
  test/end-to-end/cases/issue-1411_no-entity.xspec
Labels: bug

#1403 test: simplify import.xspec and imported.xspec
  test/end-to-end/cases/expected/query/import-junit.xml
  test/end-to-end/cases/expected/query/import-result.html
  test/end-to-end/cases/expected/query/import-result.xml
  test/end-to-end/cases/expected/query/imported-junit.xml
  test/end-to-end/cases/expected/query/imported-result.html
  test/end-to-end/cases/expected/query/imported-result.xml
  test/end-to-end/cases/expected/stylesheet/external_import-junit.xml
  test/end-to-end/cases/expected/stylesheet/external_import-result.html
  test/end-to-end/cases/expected/stylesheet/external_import-result.xml
  test/end-to-end/cases/expected/stylesheet/import-junit.xml
  test/end-to-end/cases/expected/stylesheet/import-result.html
  test/end-to-end/cases/expected/stylesheet/import-result.xml
  test/end-to-end/cases/expected/stylesheet/imported-junit.xml
  test/end-to-end/cases/expected/stylesheet/imported-result.html
  test/end-to-end/cases/expected/stylesheet/imported-result.xml
  test/end-to-end/cases/external_import.xspec
  test/end-to-end/cases/import.xspec
  test/end-to-end/cases/imported.xspec
Labels: test

#1406 test: clarify non x:apply scenario in rule.xspec
  test/end-to-end/cases/expected/stylesheet/rule-junit.xml
  test/end-to-end/cases/expected/stylesheet/rule-result.html
  test/end-to-end/cases/expected/stylesheet/rule-result.xml
  test/end-to-end/cases/rule.xspec
Labels: test

#1423 test: relocate non-pending scenarios in pending.xspec
  test/end-to-end/cases/expected/query/pending-junit.xml
  test/end-to-end/cases/expected/query/pending-result.html
  test/end-to-end/cases/expected/query/pending-result.xml
  test/end-to-end/cases/expected/schematron/pending-junit.xml
  test/end-to-end/cases/expected/schematron/pending-result.html
  test/end-to-end/cases/expected/schematron/pending-result.xml
  test/end-to-end/cases/expected/stylesheet/pending-junit.xml
  test/end-to-end/cases/expected/stylesheet/pending-result.html
  test/end-to-end/cases/expected/stylesheet/pending-result.xml
  test/end-to-end/cases/pending.xspec
  test/win-bats/collection.xml
  test/xspec.bats
Labels: test

#1407 test: fulfill some TODO in rule.xspec
  test/end-to-end/cases/expected/stylesheet/rule-junit.xml
  test/end-to-end/cases/expected/stylesheet/rule-result.html
  test/end-to-end/cases/expected/stylesheet/rule-result.xml
  test/end-to-end/cases/rule.xsl
  test/end-to-end/cases/rule.xspec
Labels: test
